.idea
*.iml
*.ipr
*.iws
.gradle
build
.vagrant
*.out
out
*~
\#*
.DS_STORE
.DS_Store
*.swp
classes
*.retry
*.kdb.lock
*.pyc
*k8s-cloud.groovy
.project
*.egg-info
py3env
captured_git_command
captured_gradle_command
\created-application.json
#vscode
.bloop/
.classpath
.metals/
venv/
.settings/
wiki/book
bin/
.vscode/
generated-ymls/
.kube/
version-store/key*
